<?xml version="1.0" encoding="UTF-8"?>
<plugin>
	<name>
		<lang name="default">New Social Comments</lang>
	</name>
	<author>
        <lang name="default">Alexandr Verenik, flexbyte, iM1nd</lang>
        <lang name="russian">Александр Вереник, flexbyte, iM1nd</lang>
	</author>
	<homepage>https://github.com/wasja1982/livestreet_newsocialcomments</homepage>
	<version>1.0.1</version>
	<requires>
		<livestreet>1.0.3</livestreet>
		<plugins>
		</plugins>
	</requires>
	<description>
		<lang name="default">New Social Comments</lang>
		<lang name="russian">Позволяет посетителям оставлять комментарии, используя аккаунты социальных сетей.</lang>
	</description>
</plugin>